:root {
    --color-background: #FFF1EB;
    --color-accent: #D56D3F;
    --color-heading: #2C2420;
    --color-body: #68544B;
    --font-accent: 'Dancing Script', Arial, Helvetica, sans-serif ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a, a:visited {
    text-decoration: none;
    color: var(--color-heading)
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Typography */

body {
    font-family:'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-body);
    background: var(--color-background);
}

h1, 
h2 {
    font-family: 'Lora';
    color: var(--color-heading);
    font-weight: 500;
}

h1 {
    font-size: 64px;
    line-height: 82px;
}

h2 {

    font-size: 36px;
    line-height: 46px;
}

h3 {
    font-family: 'Dancing Script';
    color: var(--color-accent);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

@media (max-width: 992px) {
    h1 {
        font-size: 53px;
        line-height: 65px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 43px;
        line-height: 58px;
    }

    body {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 36px;
        line-height: 46px;
    }

    body {
        font-size: 15px;
    }
}


/* Layout */

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    font-weight: 500;
}

.navbar__item.active a {
    color: var(--color-accent);
}


.logo{
    font-family: 'Lora';
    font-weight: 600;
    font-size: 20px;
    transform: translateY(1px);
}

.logo::before {
    content: url(icons/sushi__logo.png);
    vertical-align: middle;
    margin-left: 8px;

}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    background-color: var(--color-heading);
}


@media (max-width: 576px) { 
    
    .hamburger{
        display: block;  
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        width: 25px;
        height: 3px;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .navbar__list {
        position: fixed;
        left: 100%;
        top: 90px;
        flex-direction: column;
        background: var(--color-background);
        text-align: center;
        transition: .3s;
        width: 100vw;
    }

    .navbar__list.active {
        left: 0;
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}

.hero__subheading {
    margin-top: 16px;
}

.btn {
    font-weight: 500;
    color: #ffffff;
    padding: 14px 24px;
    background: var(--color-accent);
    border-radius: 64px;
    border: none;
    margin-top: 40px;
}

.btn::after {
    content: url(icons/arrow.svg);
    vertical-align: middle;
    margin-left: 8px;
}



@media (max-width: 768px) {
    .btn {
        margin-top: 35px;
    }

}

@media (max-width: 576px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero__heading {
        margin-top: 48px;
    }
    
    .btn {
        margin-top: 32px;
    }
}