:root {
    --color-background: #FFF1EB;
    --color-accent: #D56D3F;
    --color-heading: #2C2420;
    --color-body: #68544B;
    --font-accent: 'Dancing Script', Arial, Helvetica, sans-serif ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a, a:visited {
    text-decoration: none;
    color: var(--color-heading)
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Typography */

body {
    font-family:'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-body);
    background: var(--color-background);
}

h1, 
h2 {
    color: var(--color-heading);
    margin-top: 13px;
    font-weight: 500;
}


/* Layout */

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    font-weight: 500;
}

.navbar__item.active a {
    color: var(--color-accent);
}


.logo__wrapper {
    display: flex;
}

.logo span{
    font-family: 'Lora';
    font-weight: 600;
    font-size: 20px;
    transform: translateY(1px);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    background-color: var(--color-heading);
}

@media (max-width: 768px) {

}





@media (max-width: 576px) {
    
    .container {
        padding: 0 26px;

    }
    
    
    
    .hamburger{
        display: block;  
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        width: 25px;
        height: 3px;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .navbar__list {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background: var(--color-background);
        text-align: center;
        transition: .3s;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, .3);
    }

    .navbar__item {
        margin: 32px 146px 0 146px;
    }

    .navbar__list.active {
        left: 0;
    }
}