:root {
    --color-background: #FFF1EB;
    --color-accent: #D56D3F;
    --color-heading: #2C2420;
    --color-body: #68544B;
    --font-accent: 'Dancing Script', Arial, Helvetica, sans-serif ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a, a:visited {
    text-decoration: none;
    color: var(--color-heading)
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Typography */

body {
    font-family:'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-body);
    background: var(--color-background);
}

h1, 
h2 {
    font-family: 'Lora';
    color: var(--color-heading);
    font-weight: 500;
}

h1 {
    font-size: 64px;
    line-height: 82px;
}

h2 {
    font-size: 36px;
    line-height: 46px;
}

h3 {
    font-family: 'Dancing Script';
    color: var(--color-accent);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

@media (max-width: 992px) {
    h1 {
        font-size: 53px;
        line-height: 65px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 43px;
        line-height: 58px;
    }

    body {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 36px;
        line-height: 46px;
    }

    body {
        font-size: 15px;
    }

    h2 {
        font-size: 24px;
        line-height: 31px;
    }

    h3 {
        font-size: 20px;
    }
}


/* Layout */

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10%;
    position: relative;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    font-weight: 500;
}

.navbar__item.active a {
    color: var(--color-accent);
}


.logo{
    font-family: 'Lora';
    font-weight: 600;
    font-size: 20px;
}

.logo::before {
    content: url(icons/sushi__logo.png);
    vertical-align: middle;
    margin-left: 8px;

}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    background-color: var(--color-heading);
}


@media (max-width: 576px) { 
    
    .hamburger{
        display: block;  
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        width: 25px;
        height: 3px;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .navbar__list {
        position: fixed;
        left: 100%;
        top: 90px;
        flex-direction: column;
        background: var(--color-background);
        text-align: center;
        transition: .3s;
        width: 100vw;
        padding-bottom: 45px;
    }

    .navbar__list.active {
        left: 0;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    margin-top: 16px;
}

.btn {
    font-weight: 500;
    color: #ffffff;
    padding: 14px 24px;
    background: var(--color-accent);
    border-radius: 64px;
    border: none;
    margin-top: 40px;
    height: 52px;
}

.btn::after {
    content: url(icons/arrow.svg);
    vertical-align: middle;
    margin-left: 8px;
}

.leaf {
    opacity: 0.1;
    width: 150px;
}

.leaf-1  {
    position: absolute;
    top: 30px;
    left: -50px;
    transform: rotate(90deg);
}

.leaf-2 {
    position: absolute;
    top: 550px;
    right: -40px;
}


@media (max-width: 992px) {
    .line__break__info {
        display: none;
    }
}

@media (max-width: 768px) {
    .btn {
        margin-top: 35px;
    }

}

@media (max-width: 576px) {
    .flex {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero__heading {
        margin-top: 48px;
    }
    
    .btn {
        margin-top: 32px;
    }
}

.hero {
    margin-top: 158px;
}

.container__mini {
    margin: 0 60px;
}

.hero__img__wrapper {
    min-width: 350px;
}

@media (max-width: 576px) {
    .container__mini {
        margin: 0 40px;
    }

    .hero {
        margin-top: 74px;
    }
}

.about {
    margin-top: 150px;
}

.about__img__wrapper {
    min-width: 200px;
}

.container__mini__about {
    gap: 80px;
}

.leaf-3 {
    position: absolute;
    top: 850px;
    right: -5px;
    transform: rotate(-30deg);
}

@media (max-width: 576px) {
    .container__mini__about {
        gap: 60px;
    }
}

.dishes {
    margin-top: 120px;
}

.dishes__subheading {
    text-align: center;
    margin-top: 120px;
}

.dishes__heading {
    text-align: center;
}

.card {
    margin-top: 72px;
    background: #FFF5F0;
    box-shadow: 0px 8px 20px rgba(201, 94, 44, 0.08);
    border-radius: 24px;
    width: 262px;
    text-align: center; 
    position: relative;
    padding-bottom: 25px;
}

.card__item__name {
    font-size: 20px;
    line-height: 26px;
    color: #2C2420;
    margin-top: 24px;
}

.card__item {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-top: 4px;
}

.dish__price {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 30px;
    color: var(--color-accent);
    margin-top: 16px;
}

.dish__price:after {
    content: url(icons/bag-icon.svg);
    vertical-align: middle;
    background: #D56D3F;
    box-shadow: 0px 4px 20px rgba(84, 39, 18, 0.2);
    height: 32px;
    width: 32px;
    margin-left: 43px;
    padding: 4px;
    border-radius: 55px;
    display: inline-block;
}

.cards__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.card .img1, .img2, .img3 {
    position: absolute;
    top: 20px;                        
    transform: translate(-50%, -50%);
}

.card__list {
    margin-top: 126px;
}

@media (max-width: 992px) {
    .card__item__name {
        font-size: 17px;
    }

    .dish__price:after {
        height: 27px;
        width: 27px;
    }

    .dish__price {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .card__item__name {
        font-size: 14px;
        margin-top: 19px;
    }

    .dish__price {
        font-size: 13px;
    }

    .dish__price::after {
        margin-left: 14px;
    }

    .dish__price:after {
        height: 20px;
        width: 20px;
    }

    .card__list {
        margin-top: 100px;
    }

    .card {
        padding-bottom: 17px;
    }

    .card__item {
        font-size: 12px;
    }

}

@media (max-width: 576px) {
   .dishes__heading {
    margin-bottom: 48px;
   }
}

.recently {
    margin-top: 150px;
}

.container__mini__recently {
    gap: 80px;
}

@media (max-width: 768px) {
    .container__mini__recently {
        gap: 60px;
    }
}

.row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: stretch;
}

.footer {
    margin: 163px 0 80px 0;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    min-height: 240px;
  } 

  .footer__heading {
    margin-bottom: 15px;
    overflow: hidden;
  }

  @media (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }

    .column {
        min-height: 90px;
    }
  
  }